# =========================
# JokerxColor
# =========================

JOKERXCOLOR_PORT=1314
SECRET_KEY=please-change-to-a-long-random-string

# OIDC / Casdoor
OIDC_ENABLED=false

# 例如：
# http://192.168.1.100:8000
# 或 Docker 同网络：
# http://casdoor:8000
OIDC_ISSUER=http://localhost:8000

OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=

# 如果留空，程序自动使用 /auth/callback
OIDC_REDIRECT_URI=http://localhost:1314/auth/callback

OIDC_SCOPE=openid profile email

# 如果反向代理使用 HTTPS，可改成 true
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=Lax
